
<h1>There are <%= pluralize(@spaces.size, "space") %> in <%= params[:search][:space] %></h1>
<% @spaces.each do |space| %>

  <div>
  <% if space.photo.attached? %>
    
     <%= link_to "", space_path(space, area: params[:area], query: params[:query]) %>
    <div class="index-card">
      <%= cl_image_tag space.photo.key %>
    <% else %>
      <%= image_tag "https://images.unsplash.com/photo-1555041469-a586c61ea9bc?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8c29mYXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60" %>
    <% end %>
    <div class="index-card-infos">
      <h2><%= space.name %></h2>
      <p><%= space.location %></p>
    </div>
    </div>
  </div>
 
<% end  %>
