<div class="list-card">
  <img src="" alt="">
  <div class="list-card-infos">
    <h2>
      <%= @space.name %>
    </h2>

    <%= cl_image_tag @space.photo.key, height: 300, width: 400, crop: :fill %>

    <p>
      <%= @space.description %>
    </p>
    <p>
      <%= @space.location %>
    </p>
  </div>
</div>


<%= link_to "Back" , spaces_path(@space.area, area: params[:area], query: params[:query]) %>

