<br>
<div class="container">
  <div class="progress">
      <div class="step">
          <p class="step-text">Search</p>
          <div class="bullet completed completed-line"></div>
      </div>
      <div class="step">
          <p class="step-text">Space</p>
          <div class="bullet completed completed-line"></div>
      </div>
      <div class="step">
          <p class="step-text">Restaurant</p>
          <div class="bullet bullet-on"></div>
      </div>
      <div class="step">
          <p class="step-text">Summary</p>
          <div class="bullet"></div>
      </div>
  </div>

  <p id="notice"><%= notice %></p>

  <div class="show-container">
    <h1><%= @restaurant.name %></h1>
    <div class="img-wrapper">
      <%= cl_image_tag @restaurant.photo.key, height: 300, width: 400, crop: :fill %>
      <%= link_to toggle_favorite_restaurant_path(@restaurant), method: :post do  %>
        <% if @restaurant.favorited_by?(current_user) %>
          <i class="fas fa-heart"></i>
        <% else %>
          <i class="far fa-heart"></i>
        <% end %>
      <% end %>
    </div>
    <div class="show-container-infos">
      <p><%= @restaurant.description %></p>
      <p><%= @restaurant.location %></p>
      <p><%= @restaurant.cuisine %></p>
      <br>
      <br>
    </div>
  </div>

  <div class="review-card-container">
    <% @restaurant.restaurant_reviews.each do |review| %>
      <div class="review-card">
        "<%= review.content%>"
        <% review.rating.times do %>
          <i class="fas fa-star"></i>
        <% end %>
        <% (5 - review.rating).times do %>
          <i class="far fa-star"></i>
        <% end %>
        <br>
        - <%= review.user.email %>        
      </div>
    <% end %>
  </div>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Add review
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add a review</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
         <%= simple_form_for [@restaurant, @restaurant_review] do |f| %>
          <%= f.input :content %>
          <%= f.input :rating, collection: (1..5).to_a, label: "Rate your experience" %>
          <%= f.submit %>
        <% end %>
      </div>
    </div>
  </div>
</div>
  
<div
    id="map"
    style="width: 100%; height:300px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>
  <br>

  <div class="show-container-select">
    <%= link_to "Back" , restaurants_path(area: params[:area], query: params[:query]), class:"btn-light" %>
    <%= link_to "Add to plan", restaurant_restaurant_plans_path(@restaurant), method: :post, class:"btn-dark" %>
  </div>

</div>
  


