<p id="notice"><%= notice %></p>

<p>
  <strong>Name</strong>
  <%= @restaurant.name %>
</p>

<%= cl_image_tag @restaurant.photo.key, height: 300, width: 400, crop: :fill %>

<p>
  <strong>Location</strong>
  <%= @restaurant.location %>
</p>

<p>
  <strong>Description</strong>
  <%= @restaurant.description %>
</p>

<p>
  <strong>Cuisine</strong>
  <%= @restaurant.cuisine %>
</p>

<p>
  <strong>Price</strong>
  <%= @restaurant.price %>
</p>

<p>
  <strong>Times</strong>
  <%= @restaurant.opening_time %>
  <%= @restaurant.closing_time %>
</p>


<%= link_to 'Back', area_restaurants_path(@restaurant.area) %>
