<%= link_to "â†", restaurant_path(@restaurant), class: "btn-light" %>
<br>
<div class="container">
  <div class="progress">
      <div class="step">
          <p class="step-text">Search</p>
          <div class="bullet completed completed-line"></div>
      </div>
      <div class="step">
          <p class="step-text">Space</p>
          <div class="bullet completed completed-line"></div>
      </div>
      <div class="step">
          <p class="step-text">Restaurant</p>
          <div class="bullet completed completed-line"></div>
      </div>
      <div class="step">
          <p class="step-text">Summary</p>
          <div class="bullet bullet-on"></div>
      </div>
  </div>

  <div class="plan-form">
    <h1>Complete your plan</h1>
    <h3>Your space is:</h3>
    <div class="user-card">
      <div class="user-card-infos">
        <p><strong><%= @space.name %></strong></p>
        <p><%= @space.name %></p>
      </div>
    </div>
    <h3>Your restaurant is:</h3>
    <div class="user-card">
      <div class="user-card-infos">
        <p><strong><%= @restaurant.name %></strong></p>
        <p><%= @restaurant.name %></p>
      </div>
    </div>
    <%= simple_form_for @plan do |f| %>
      <%= f.input :space_id, :as => :hidden, :input_html => { :value => @space.id }%>
      <%= f.input :meeting_point, as: :string %>
      <%= f.input :date, as: :date, html5: true %>
      <%= f.input :time, as: :time, html5: true %>
      <%= f.submit %>
    <% end %>
</div>
