<br>
<div class="container">
  <div class="progress">
    <!-- <div class="progress-container"> -->
      <div class="step">
          <p class="step-text">Search</p>
          <div class="bullet completed completed-line"></div>
      </div>
      <div class="step">
          <p class="step-text">Space</p>
          <div class="bullet completed completed-line"></div>
      </div>
      <div class="step">
          <p class="step-text">Restaurant</p>
          <div class="bullet completed completed-line"></div>
      </div>
      <div class="step">
          <p class="step-text">Summary</p>
          <div class="bullet bullet-on"></div>
      </div>
  </div>

  <h1>Complete your plan</h1>
  <h3>Your space is:</h3>
  <p><%= @space.name %></p>
  <h3>Your restaurant is:</h3>
  <p><%= @restaurant.name %></p>
    <%= simple_form_for @plan do |f| %>
      <%= f.input :space_id, :as => :hidden, :input_html => { :value => @space.id }%>
      <%= f.input :meeting_point, as: :string %>
      <%= f.input :date, as: :date, html5: true %>
      <%= f.input :time, as: :time, html5: true %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
